#cursor, #aura{
    position: absolute;
    border-radius: 100%;
    transition:  .5s cubic-bezier(.75,-1.27,.3,2.33);
    transform: .2s cubic-bezier(.75,-1.27,.3,2.33);
    opacity: ;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
}

#cursor{
    width: 8px;
    height: 8px;
    background-color: rgba($color: #fff, .5);
}
#aura{
    width: 46px;
    height: 46px;
    border: 1px solid rgba($color: #fff, .2);
    background-color: rgba($color: #fff, .027);
}